.header{
  height: 100vh;
  background-image: url(/images/header-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title{
  padding-top: 152px;
  text-align: center;
  font-size: 250px;
  line-height:1.34;
  font-family: "Balqis", sans-serif;
}
.header__title span{
  font-family: "RobotoCondensed";
  display: block;
  text-align: right;
  font-weight: 300;
  font-style: italic;
  font-size: 56px;
  line-height: 1.2;
  margin-top: -66px;
  margin-right: 80px;
}
